*{
    font-family: "Ubuntu Condensed",Verdana,sans-serif;
}
body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/241/782/433/mist-4k-5k-hills-wallpaper-preview.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#encabezado{
    background-color: rgb(60, 60, 60);
    color: beige;
    font-variant: small-caps;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}
#foto_perfil{
    border: 5px solid floralwhite;
    border-radius: 100%;
}
#caja_datos{
    background-color: floralwhite;
    border-radius: 1em;
}
#nombre{
    list-style-image: url(user-solid.svg);
}
#instagram{
    list-style-image: url(instagram.svg);
}
#cumpleaños{
    list-style-image: url(cake-candles-solid.svg);
}
#direccion{
    list-style-image: url(house-user-solid.svg);
}
#telefono{
    list-style-image: url(phone-solid.svg);
}
#correo{
    list-style-image: url(square-envelope-solid.svg);
}


