*{
    font-family: "Ubuntu Condensed",Verdana,sans-serif;
}
body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/241/782/433/mist-4k-5k-hills-wallpaper-preview.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#caja_bienvenida{
    background-color: floralwhite;
    font-size: 1em;
    margin: auto;
}
#encabezado{
    background-color: rgb(60, 60, 60);
    color: beige;
    font-variant: small-caps;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
li{
    transition: background-color 0.5s;
}
li:hover{
    background-color: rgb(210,210,210);
}
#caja_datos{
    background-color: floralwhite;
}
#lista_datos{
    list-style-type: none;
}
#info_adicional{
    background-color: rgb(60, 60, 60);
    color: beige;
}

